


</br> </br><h1> Coucou les petits fous voici tout les membres du club  < 3 </h1>

<% @users.each do |user| %>
    <p>  <%= user.first_name %> <%= user.last_name %> est inscrit ! < 3 voici son mail: <%= user.email %> </p>
  

	
	<% end %>